<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.surya.bullsandcows.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/bull2"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.surya.bullsandcows.app.BullsAndCowsActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GamePlay"
            android:screenOrientation="portrait"/>
        <activity android:name=".WinClass"
            android:screenOrientation="portrait"/>
        <activity android:name=".Instruction"
            android:screenOrientation="portrait"/>
    </application>

</manifest>
